* {

box-sizing:border-box;

}


body {

margin:0;

font-family:
"Inter",
"Segoe UI",
Arial,
sans-serif;

color:#172033;

background:#ffffff;

line-height:1.6;

}



header {

background:
linear-gradient(
135deg,
#07152f,
#123b69
);

color:white;

}



nav {

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 8%;

}

.logo span,
.hero span {

color:#55c7ff;

}


.links a {

color:white;

text-decoration:none;

margin-left:25px;

}





.hero {

padding:100px 10%;

text-align:center;

}


.hero h1 {

font-size:90px;

margin:0;

}



.hero h2 {

font-size:35px;

font-weight:500;

}


.hero p {

font-size:20px;

max-width:700px;

margin:auto;

}



.buttons {

margin-top:40px;

}


.primary,
.secondary {

display:inline-block;

padding:15px 35px;

border-radius:30px;

text-decoration:none;

margin:10px;

}



.primary {

background:#55c7ff;

color:#00152c;

font-weight:bold;

}



.secondary {

border:2px solid white;

color:white;

}



.date-box {

margin:50px auto 0;

background:white;

color:#07152f;

width:260px;

padding:25px;

border-radius:15px;

}




section {

padding:70px 10%;

}



section h2 {

text-align:center;

font-size:40px;

margin-bottom:40px;

}



section p {

max-width:900px;

margin:auto;

}




.highlight {

display:flex;

justify-content:center;

gap:50px;

background:#f2f7fb;

text-align:center;

}



.highlight h3 {

font-size:45px;

color:#123b69;

margin:0;

}




.cards {

display:flex;

gap:30px;

justify-content:center;

flex-wrap:wrap;

}



.card {

background:white;

padding:30px;

border-radius:15px;

width:300px;

box-shadow:
0 10px 30px rgba(0,0,0,.08);

}




.universities {

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:20px;

}



.universities div {

padding:25px;

background:#f3f6fa;

border-radius:10px;

text-align:center;

font-weight:bold;

}



.centre {

text-align:center;

}




#sponsors {

background:#07152f;

color:white;

text-align:center;

}




footer {

background:#020916;

color:white;

padding:30px;

text-align:center;

}




@media(max-width:800px){

nav {

flex-direction:column;

}

.links {

margin-top:20px;

}

.hero h1 {

font-size:55px;

}

.highlight {

flex-direction:column;

}

}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 35px;
    width: auto;
}

.hero-logo {
    width: 200px;
    height: auto;
}

.partner-logos img {
    height: 45px;
    width: auto;
    opacity: 0.85;
}

.country-section {
    margin-bottom: 50px;
}


.country-section h3 {
    text-align:center;
    font-size:28px;
    color:#123b69;
    margin-bottom:25px;
}


.university-grid {

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(260px,1fr));

gap:15px;

}


.university-grid div {

background:#f3f6fa;

padding:18px;

border-radius:10px;

text-align:center;

font-weight:500;

transition:0.2s;

}


.university-grid div:hover {

transform:translateY(-3px);

box-shadow:0 5px 15px rgba(0,0,0,0.1);

}
